div#end.page.bg1(style="display:none")
    div.row.center
        img.logo(src="./img/logo.svg")
    div.row 
        div.chatBox 
            div.text 好棒！
                br    
                | 再來一堂課吧
    div.row
        button.typeBtn.pageBtn(data-id="start") 回到主選單 
                    
    footer.f1