div#end.page.bg1(style="display:none")
    
    div.row.center.fill
        div#endChatBox.q1
            div.text 好棒！
                br    
                | 再來一堂課吧
        div.subLogo
    div.row.center
        button.backBtn.pageBtn(data-id="start") 回主選單 
                    
    footer.f1