div#end.page.bg1(style="display:none")
    div.row.center
        div.character
            img(src="./img/deegooq_1.svg")
    div.row 
        div.chatBox 
            div.text 全部完成囉！
    
    div.row
        button#goSurveycake.BPBtn.main
            img.hand(src="./img/hand.svg")
            span 前往問券
    footer.f1
