div#player.bg1.page(style="display:none")
    //-
        div.row
            button#yPlay play 
            button#yStop stop
            button#yBack back
    div.row.full
        div.playerBox
            div#youPlayer
        div.logo
            img.logo(src="./img/logo.svg")

    button#backList.fBtn.arrow 回主選單