div#player.bg1.page(style="display:none")
    
    div.row
        button#yPlay play 
        button#yStop stop
        button#yBack back
    div.row.full
        div.playerBox
            div#youPlayer

    button#backList.fBtn.arrow.pageBtn(data-id="list") 回主選單