div#start.page.bg1(style="display:none")
    div.row.center
        img.logo(src="./img/logo.svg")
    div.row 
        button.typeBtn(data-type="q1") q1 
        button.typeBtn(data-type="q2") q2 
        button.typeBtn(data-type="q3") q3 
        button.typeBtn(data-type="q4") q4 
        button.typeBtn(data-type="q5") q5 
    
    footer.f1
