@mixin count()
    $size: 180px
    $txtPos: 92px
    #count
        @include flexBox(center, center)
        width: 100%
        margin: 0 auto
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-image: url('../img/bg_m.jpg')
        background-size: 100%
        z-index: 100
        #bubble
            width: $size
            height: $size
            background-image: url('../img/bubble.svg')
            background-size: ($size * 6) auto
            background-repeat: no-repeat
            animation: bubbleAmin 1s
            animation-fill-mode: forwards
            animation-timing-function: step-end
            animation-iteration-count: 5
            display: flex
            justify-content: center
            align-items: center
            font-size: 4em
            font-weight: bolder
            text-shadow: 0 0 10px rgba(0, 0, 0, .8)
            .countBox
                @include flexBox(flex-start, center)
                flex-direction: column
                width: 80px
                height: 100px
                overflow: hidden
                .countTxt
                    @include flexBox(center, center)
                    width: 80px
                    animation: countAmin 5s                    
                    animation-iteration-count: 1
                    animation-timing-function: step-end            
                    animation-fill-mode: forwards
                    
            /*
                &:after, &::after
                    width: 50px
                    height: 100px
                    text-align: center
                    animation: countAmin 5s
                    animation-iteration-count: 1
                    animation-iteration-count: infinite
                    animation-timing-function: step-end


    
    @keyframes countAmin
        0%
            //content: '5'
            transform: translateY(0)
        20%
            transform: translateY(-$txtPos)
            //content: '4'
        40%
            transform: translateY(-$txtPos * 2)
            //content: '3'
        60%
            transform: translateY(-$txtPos * 3)
            //content: '2'
        80%
            transform: translateY(-$txtPos * 4)
            //content: '1'
        100%
            transform: translateY(-$txtPos * 5)
            //content: ''

    @keyframes bubbleAmin
        0%
            background-position: 0 0
        83%
            background-position: (-$size) 0
        86%
            background-position: (-$size * 2) 0
        90%
            background-position: (-$size * 3) 0
        93%
            background-position: (-$size * 4) 0
            transform: scale(1.4)
        96%
            background-position: (-$size * 5) 0
            transform: scale(1.8)
        100% 
            background-position: (-$size * 6) 0